
<!-- Follow -->
<section class="follow">
    <div class="container">
        <div class="follow-grid">
            <p>Follow Pro Wind</p>
            <a href="https://facebook.com" target="_blank">
            <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
            </a>
            <a href="https://twitter.com" target="_blank">
            <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
            </a>
            <a href="https://linkedin.com" target="_blank">
            <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
            </a>
            </div>
        </div>
    </div>
</section>