
 <!-- Links -->
 <section class="links">
    <div class="links-inner">
      <ul>
        <li><h3>For general inquiries</h3></li>
        <li><a href="#"> prowind@prowind.xyz</a></li>
      </ul>
      <ul>
        <li><h3>Personal</h3></li>
        <li><a href="#">firstname.lastname@prowind.xyz</a></li>
      </ul>
      <ul>
        <li><h3>Social</h3></li>
        <li><a href="#">Pro Wind @ Twitter</a></li>
        <li><a href="#">Pro Wind @ Facebook</a></li>
        <li><a href="#">Pro Wind @ Linkedin</a></li>
      </ul>
      <ul>
        <li><h3>Headquarters</h3></li>
        <li><a href="#">Virtaviiva 8 F</a></li>
        <li><a href="#">65320 VAASA, FINLAND</a></li>
      </ul>
      <ul>
        <li><h3>Contact</h3></li>
        <li><a href="#">tel. 555-5555-555</a></li>
        <li><a href="#">fax. 444-4444-444</a></li>
      </ul>
      <ul>
        <li><h3>Job Postings</h3></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
  </section>