{% load static %}

<!--Header-->
<header 
    {% if '/' == request.path %}
        id="home-showcase"
    {% elif 'vacancies' in request.path %}
        id="listing-showcase"
    {% elif 'vacancy' in request.path %}
        id="listing-showcase"
    {% endif %}
    >
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    
    <div class="container">
        
        <!--Nav-->

        <nav class="main-nav">
            <a href="{% url 'index' %}">
                <img 
                    {% if '/' == request.path %}
                        src="{% static 'img/logo.png' %}"
                    {% else %}
                        src="{% static 'img/logo-dark.png' %}"
                    {% endif %}
                    alt="ProWind" class="logo"
                >
            </a>
            <ul class="main-menu">
                <li><a class="nav__link" href="{% url 'index' %}#home-showcase">Home</a></li>
                <li><a class="nav__link" href="{% url 'index' %}#about">About</a></li>
                <li><a class="nav__link" href="{% url 'index' %}#work">Our Work</a></li>
                <li>
                    <a class="nav__link" href="{% url 'vacancies' %}">Vacancies</a>
                </li>
            </ul>
            <ul class="right-menu">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'dashboard' %}"><strong>{{user.username}}</strong></a>
                        <i class="fas fa-user"></i>
                    </li>
                    <li>
                        <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <i class="fas fa-sign-out-alt"></i>
                        
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'register' %}">Register</a>
                        <i class="fas fa-user-plus"></i>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="header-text">
            
            {% if '/' == request.path %}
                <h1>Empowering Projects</h1>
                <p>Our goal is to make future greener by 
                    utilizing wind power to provide electric energy to you.
                </p>
            {% elif 'vacancies' in request.path%}
                <h1>Empowering Projects</h1>
            {% elif 'vacancy' in request.path %}
                <h1>{{ vacancy.title }}</h1>
                {% if vacancy %}
                        <p>{{ vacancy.position }}</p>
                    {% else %}
                        <h1>No name available</h1>
                {% endif %}
            {% endif %}
        </div>
        {% if 'vacancies' in request.path %}
            <a class="btn-listings" href="#vacancies">Job Listings</a>
        {% elif 'vacancy' in request.path %}
            <a class="btn-listings" href="#vacancy">Apply</a>
        {% endif %}
    </div>
</header>
