{% extends 'base.html' %}

{% block content %}

<!--Form-->

<section class="listings">
    <div class="container">
        
        <h2>Welcome John</h2>
        <p>Here are the vacancies that you have applied for</p>
           <table class="table">
               <thead>
                   <tr>
                       <th scope="col">#</th>
                       <th scope="col">Vacancy</th>
                       <th scope="col">Go to</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>22</td>
                       <td>Electrical Engineering</td>
                       <td>
                           <a class="" href="#">View vacancy</a>
                       </td>
                   </tr>
                   <tr>
                       <td>22</td>
                       <td>Electrical Engineering</td>
                       <td>
                           <a class="" href="#">View vacancy</a>
                       </td>
                   </tr>
                   <tr>
                       <td>22</td>
                       <td>Electrical Engineering</td>
                       <td>
                           <a class="" href="#">View vacancy</a>
                       </td>
                   </tr>
               </tbody>
               
           </table>
        
    </div>
</section>

{% endblock %}