{% extends 'base.html' %}

{% block title %} | User Login{% endblock %}

{% block content %}

<!--Form-->

 <section class="listings">
    <div class="container">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %} 
            <div class="form-group">
                <!--Alerts-->
                {% include 'partials/alerts.html' %}
                
                <span>Login <i class="fas fa-sign-in-alt"></i></span>
                
                <label for="username" >Username:</label>
                <input type="text" name="username" class="form-control" required>
              
                <label for="password" >Password:</label>
                <input type="password" name="password" class="form-control" required>
              
                <input type="submit" value="Login" class="btn-form">
            </div>
        </form>
        
    </div>
</section>

{% endblock %}