{% extends 'base.html' %}

{% block content %}

<!--Form-->

 <section class="listings">
    <div class="container">
        <form>
            
            <div class="form-group login">

                <span>Register <i class="fas fa-user-plus"></i></span>
                
                <label for="first_name" >First name:</label>
                <input type="text" name="first_name" class="form-control" required>
              
                <label for="last_name" >Last name:</label>
                <input type="text" name="last_name" class="form-control" required>

                <label for="username" >User name:</label>
                <input type="text" name="username" class="form-control" required>

                <label for="email" >Email:</label>
                <input type="email" name="email" class="form-control" required>

                <label for="password" >Password:</label>
                <input type="password" name="password" class="form-control" required>

                <label for="password2" >Confirm Password:</label>
                <input type="password2" name="password2" class="form-control" required>
              
                <input type="submit" value="Register" class="btn-form">
            </div>
        </form>
        
    </div>
</section>

{% endblock %}