
{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!--Job Listings-->

    <section id="vacancies" class="listings">
        <div class="container">
            <div class="listings-grid">
                {% if listings %}
                    {% for vacancy in listings %}
                        <div class="card-listings">
                            <a href="{% url 'vacancy' vacancy.id %}">
                                <div>
                                    <img class="listing-img" src="{{ vacancy.photo.url }}" alt="">
                                </div>

                                <div class="listing-main">
                                    <h2 class="listing-name">{{ vacancy.title }}</h2>
                                    <p class="listing-position">{{ vacancy.position}} - {{ vacancy.country }}, {{ vacancy.city }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Open Vacancies available at the moment.</p>           
                {% endif %}
            </div>

            {% if listings.has_other_pages %}
                <div class="pagination">
                    <span class="step-links">
                        {% if listings.has_previous %}
                            <a class="page" href="?page=1">&laquo; first</a>
                        {% endif %}

                        {% for i in listings.paginator.page_range %}
                            {% if listings.number == i %}
                                <a href="?page={{i}}">
                                    <span class="page active">{{i}}</span>
                                </a>
                            {% else %}
                                <a href="?page={{i}}">
                                    <span class="page">{{i}}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% if listings.has_next %}
                            <a class="page" href="?page={{ listings.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}