{% extends 'base.html' %}

{% load static %}

{% block title %} | {{ vacancy.title }}{% endblock %}

{% block content %}

    <!--Job Listings-->

    <section id="vacancy" class="listings">
        <div class="container">
            <div class="job-description">
                <h3>{{ vacancy.title }}</h3>
                <p>Location: {{ vacancy.country }}, {{ vacancy.city }}</p>
                <p>We are looking for:</p>
                <p>{{ vacancy.looking_for }}</p> 
                <p>As a {{ vacancy.title }}, you will:</p>
                <ul>
                    {% if duties %}
                        {% for duty in  duties %}
                            <li>{{ duty.duties }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No description available.</li>
                    {% endif %}
                </ul>
                <p>Your education and language skills:</p>
                <ul>
                    {% if academics %}
                        {% for academic in  academics %}
                            <li>{{ academic.academics }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No description available.</li>
                    {% endif %}
                </ul>
                <p>To succeed, you have:</p>
                <ul>
                    {% if skills %}
                        {% for skill in  skills %}
                            <li>{{ skill.skills }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No description available.</li>
                    {% endif %}
                </ul>
                <p>What we provide:</p>
                <ul>
                    {% if benefits %}
                        {% for benefit in  benefits %}
                            <li>{{ benefit.benefits }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No description available.</li>
                    {% endif %}
                </ul>
                <a class="btn-listing-form" href="{% url 'contact' vacancy.id %}">Fill in form</a>
            </div>
        </div>
    </section>

    <!-- Follow -->
    {% include 'partials/_follow.html' %}

{% endblock %}