
{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!--Header-->
    <!--Nav-->
    {% include 'partials/_nav.html' %}


    <!--Job Listings-->

    <section id="vacancies" class="listings">
        <div class="container">
            <div class="listings-grid">
                {% if listings %}
                    {% for vacancy in listings %}
                        <div class="card-listings">
                            <a href="{% url 'vacancy' vacancy.id %}">
                                <div>
                                    <img class="listing-img" src="{{ vacancy.photo.url }}" alt="">
                                </div>

                                <div class="listing-main">
                                    <h2 class="listing-name">{{ vacancy.title }}</h2>
                                    <p class="listing-position">{{ vacancy.position}} - {{ vacancy.country }}, {{ vacancy.city }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Open Vacancies available at the moment.</p>           
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}