{% extends 'base.html' %}

{% load static %}


   
{% block content %}  

    <!--About-->
    <section id="about" class="about-us">
        <div class="container">
            <div class="about">
                {% if abouts %}
                    {% for about in abouts %}
                        <div class="card">
                            <div class="card__image-container">
                                <img class="card__image" src="{{ about.photo.url }}" alt="">
                            </div>
                            
                            <svg class="card__svg" viewBox="0 0 800 500">
                        
                                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 
                                250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" 
                                stroke="transparent" fill="#333"/>
                                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 
                                400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                                stroke="pink" stroke-width="3" fill="transparent"/>
                            </svg>
                            
                            <div class="card__content">
                                <h1 class="card__title">{{ about.title }}</h1>
                                <p>{{ about.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Nothing to display in About section.</p>
                {% endif %}
                
            </div>
        </div>
    </section>

    <!--Our work-->

    <section id="work" class="our-work">
        <div class="container">
            <div class="work">
                {% if works %}
                    {% for work in works %}
                        <div class="card-work">
                            <img src="{{ work.photo.url }}" alt="">
                            
                            <div class="card-work-content">
                                <h4>{{ work.title }}</h4>
                                <p>{{ work.description }}</p>
                            </div>
                        </div> 
                    {% endfor %}
                {% else %}
                    <p>Nothing to display in Our Work section.</p>
                {% endif %}
            </div>
        </div>
    </section>

    <!--Experts-->

    <section class="experts">
        <div class="container">
            <div class="experts-grid">
                {% if expert %}
                    {% for expert in expert %}

                        <div class="card-experts">
                            <div>
                                <img class="profile-img" src="{{ expert.photo.url }}" alt="">
                                <ul class="social-list">
                                    <li class="social-item">
                                        <a aria-label="facebook" class="social-link" href="https://facebook.com" target="_blank">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a aria-label="twitter" class="social-link" href="https://twitter.com" target="_blank">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a aria-label="linkedin" class="social-link" href="https://linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div>
                                <h2 class="profile-name">{{ expert.name }}</h2>
                                <p class="profile-position">{{ expert.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Nothing to display in Experts section.</p>
                {% endif %}
            </div>
        </div>
    </section>

     <!-- Follow -->
     {% include 'partials/_follow.html' %}

{% endblock %}
